*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
h1{
    font-size: 30px;
    padding: 3px;
}
p{
    padding: 3px;
}
/*----------------Perfil Style-------------*/
.perfil, .works{
    text-align: center;
    padding-bottom: 10px;
}
.perfil-photo{
    border-radius: 7px;
}
.social-midia{
    display: flex;
    justify-content: center;
}
.midia{
    width: 100px;
    padding: 7px;
    border-radius: 7px;    
    margin: 4px;
    background-color: rgba(192, 192, 192, 0.493);
}
.works{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: solid red 1px;
    justify-content: center;
    position: relative;
}
.works img{
    border-radius: 11px;
    margin: 10px;
}
.work-1{
    width: 28%;
    height: 400px;
}
.work-2{
    width: 68%;
    height: 400px;
}
.work-3{
    width: 68%;
    height: 400px;
}
.work-4{
    position: absolute;
    bottom: 10px;
    width: 28%;
    height: 600px;
}
